.box{
    position: relative;
    height: 50vh;
    width:50vw;
    background-color: red;
}

.box::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: blueviolet;
}