*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.container{
    height: 50vh;
}
.box{
    border: grey solid 1px;
      padding: 1rem;
      width: 6rem;
      height: 6rem;
}
.box1{
    background-color: green;
}
.box2{
    background-color: blue;
}
.box3{
    background-color: red;
}
.container{
    display: flex;
    flex-direction: column;
   justify-content: space-around;
    
}