*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.container{
    max-width: 80rem;
    display: grid;
    gap: 1rem;
    padding: 5rem;
    grid-template-areas:
    'red-box red-box blue blue'
    'green purple purple purple'
    'yellow yellow yellow yellow';
}
.box{
    padding: 5rem;
    border-radius: 1rem;
}

.red{
    background-color: red;
    grid-area: red-box;
}
.blue{
    background-color: blue;
    grid-area: blue;
}
.green
{
    background-color: green;
    grid-area: green;
}
.purple
{
    background-color: purple;
    grid-area: purple;
}
.yellow
{
    background-color:yellow;
    grid-area: yellow;
}