*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.container{
    max-width: 80rem;
    display: grid;
    gap: 1rem;
    padding: 5rem;
    grid-template-columns: repeat(4,1fr);
}
.box{
    padding: 5rem;
    border-radius: 1rem;
}

.red{
    background-color: red;
    grid-column: 1 / span 2;
} 
.blue{
    background-color: blue;
    grid-column: 3 / span 2;

}
.green
{
    background-color: green;

}
.purple
{
    background-color: purple;
    grid-column: 2 / span 3;

}
.yellow
{
    background-color:yellow;
    grid-column: 1 / span 4;

}